body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #aaaaaa;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header {
    position: sticky;
    top: 0;
}

nav, nav > a {
    font-family: Arial, sans-serif; /* Use a common sans-serif font */
    font-size: large; /* Adjust font size as needed */
    background-color: #222222;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}


section {
    margin: 25px auto;
    width: fit-content;
    min-width: 60%;
    max-width: 80%;
    padding: 20px;
    background-color: white;
    box-shadow: #444444 0 0 2px;
    border-radius: 15px;
    transition: transform 0.6s cubic-bezier(0.32, 0, 0.67, 0);
    font-size: large;
}

.portfolio-link {
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #222222;
    border-radius: 5px;
    min-width: fit-content;
    max-width: 80%;
    width: 175px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form > * {
    margin: 10px 0;
    min-width: 60%;
    max-width: 80%;
    width: fit-content;
}

form > input[type="email"], form > textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: fit-content;
    font-size: large;
}

form > textarea {
    min-height: 150px;
}

input[type="checkbox"] {
    display: inline;
    padding: 0;
    width: fit-content;
    min-width: fit-content;
    max-width: fit-content;
    margin: 1px;
}

form > input[type="submit"] {
    background-color: #222222;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.separator {
    border-bottom: 1px solid #ccc; /* You can adjust the thickness, style, and color of the line */
    margin: 20px 0; /* Adjust margin as needed */
}

footer {
    display: flex;
    background-color: #222222;
    color: #fff;
    justify-content: center;
    height: 100%;
    width: 100%;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}